.vscode/**
.vscode-test/**
.vscode-test.bak/**
out/**
node_modules/**
src/**
dev/**
scripts/**
.git/**
**/*.vsix
_*.py
*.log
.gitignore
.yarnrc
.eslintrc*
eslint.config.mjs
esbuild.js
vsc-extension-quickstart.md
tsconfig.json
**/tsconfig.json
.vscode-test.mjs
**/.vscode-test.*
**/*.map
**/*.ts
**/*.tsx
CHANGELOG.md

_tmp*
**/*.py

