# Generic Cortex-M0+ target for MSPM0
source [find target/swj-dp.tcl]

if { [info exists CHIPNAME] } {
   set  _CHIPNAME $CHIPNAME
} else {
   set  _CHIPNAME mspm0
}

swj_newdap $_CHIPNAME cpu -expected-id 0x0bc11477 -irlen 4
dap create $_CHIPNAME.dap -chain-position $_CHIPNAME.cpu
target create $_CHIPNAME.cpu cortex_m -dap $_CHIPNAME.dap
$_CHIPNAME.cpu configure -work-area-phys 0x20200000 -work-area-size 0x2000 -work-area-backup 0
